{% extends "admin/base_site.html" %}
{% load url from future %}
{% load admin_static %}

{% block extrastyle %}
  {{ block.super }}

{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'emailing/admin/send_form.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/mode-html.js"></script>
{% endblock %}

{% block content %}
<div id="content-main">

    <div class="inner-center-column">

        <h1>Envoyer un email groupé / customisé / envois de masse</h1>

        {% if contacts.count == 1 %}

            Il n'y qu'un seul contact : <b>{{ contacts.first }}</b>, <br/>
            {% if contacts.first.public_url %}
                voici son url de connexion : <b>{{ contacts.first.public_url }}</b>
            {% else %}
                il ne possède pas encore d'url de connexion
            {% endif %}

        {% endif %}
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <input name="_send_email" type="hidden" value="1" />
            {% include 'suit/form_as_fieldset.html' %}
            <div class="submit-row submit-row-bottom">
                <input name="_emailing_form_send_real" type="submit" value="Envoyer" class="btn btn-large btn-info"/>
                <input name="_emailing_form_send_test" type="submit" value="Envoyer un test" class="btn btn-large btn-info"/>
            </div>
        </form>

    </div>
</div>
{% endblock %}
