
// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
screen-xs-size =                 480px;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
screen-sm-size =                 768px;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
screen-md-size =                 992px;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
screen-lg-size =                 1200px;


// Marron
marron = rgb(83, 54, 16)

// Red
red = #E90044

// Orange
orange = #FA8D3C

// Yellow
yellow = #FAD040

// Green
green = #00AF9C

// Blue
blue = #2EA4DC
blue2 = #2963B4


teal = #2963B4
//teal-lt = lighten(grey,30%)

// Grey
grey = #CDCDCD
grey-ul = lighten(grey,90%)
grey-lt = lighten(grey,70%)
grey-dk = darken(grey,50%)
grey-ud = darken(grey,70%)

define-color-range(name, value)
	name = value
	//define(name+'-lt', value)
	

define-color-range(teal, #2963B4)