


<a class="django_extended-media_input {% if only_file %}django_extended-media_input-only_file{% endif %}"
    id="div_{{ id }}"

    data-media-dropzone='{
        "clickable": ".django_extended-media_input-add-image",
    }'>

    <span style="display:none;" id="div_{{ id }}_inputs">
        {% if not required %}
            {{ clear }}
        {% endif %}
        <input class="django_extended-media_input-file" {{ input_attrs|safe }} type="file" {% if value.is_image %}name="{{ name }}"{% endif %} accept="image/*" />
        <textarea type="text" {{ input_attrs|safe }} {% if not value.is_embed %}name="{{ name }}"{% endif %}></textarea>
    </span>

    <span class="django_extended-media_input-media {% if value %}active{% endif %}">

        <span class="django_extended-media_input-preview" {% if value.is_image %}style="background-image: url({{ value.url }});"{% endif %}>
            {% if value.is_image %}
                <img src="{{ value.url }}" style="margin-bottom:15px;" class="img-responsive" />
            {% else %}
                {{ value.html|safe }}
            {% endif %}
        </span>
       <!--  <button type="button" class="btn btn-primary django_extended-media_input-button django_extended-media_input-change">
            {{ change_message|default:"Changer"|safe }}
        </button>-->
        <span class="appicon appicon-edit"></span>
        <!-- {% if not required %}
        <button type="button" class="btn btn-primary django_extended-media_input-button django_extended-media_input-remove">
            {{ remove_message|default:"Changer"|safe }}
        </button>
        {% endif %} -->
    </span>
    <!--<span class="django_extended-media_input-empty django_extended-media_input-change {% if not value %}active{% endif %}">

        <span class="appicon appicon-media"></span>
        Ajouter un média

    </span>-->

    <div class="django_extended-media_input-modal">
        <button type="button" class="btn btn5 large block django_extended-media_input-add-image">
            <span class="">
                {% if not only_file %}
                    <span class="appicon appicon-media"></span>{{ "Image"|safe }}
                {% else %}
                    <span class="appicon appicon-media"></span>{{ "Image"|safe }}
                {% endif%}
            </span>
        </button>
        {% if not only_file %}
        <!-- <br/> -->
        <span class="django_extended-media_input-or">ou</span>
        <textarea class="form-control django_extended-media_input-add-embed"
            placeholder="Copiez collez une URL ou un code embed (youtube, dailymotion, soundcloud)"></textarea>
        {% endif %}
    </div>
</a>